RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]


RewriteCond %{HTTP_REFERER} !^http://argentinaturismo.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://argentinaturismo.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://argentinaturismo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://argentinaturismo.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dogstips.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dogstips.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dogstips.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dogstips.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://embed.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://embed.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stream.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://stream.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://televisionlibre.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://televisionlibre.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.argentinaturismo.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.argentinaturismo.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.argentinaturismo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.argentinaturismo.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dogstips.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dogstips.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dogstips.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dogstips.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.embed.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.embed.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stream.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.stream.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.televisionlibre.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.televisionlibre.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yoshitv.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yoshitv.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yoshitv.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yoshitv.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yoshitv.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yoshitv.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yoshitv.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yoshitv.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://argentinaturismo.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://argentinaturismo.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://argentinaturismo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://argentinaturismo.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dogstips.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dogstips.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dogstips.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dogstips.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://embed.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://embed.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://google.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://google.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stream.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://stream.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://televisionlibre.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://televisionlibre.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.argentinaturismo.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.argentinaturismo.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.argentinaturismo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.argentinaturismo.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dogstips.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dogstips.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dogstips.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dogstips.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.embed.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.embed.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stream.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.stream.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.televisionlibre.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.televisionlibre.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yoshitv.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yoshitv.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yoshitv.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yoshitv.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yoshitv.futbolparatodos.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yoshitv.futbolparatodos.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yoshitv.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yoshitv.info$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|html)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
